*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}
.display {
  background-color: #eee;
  display: flex;
  margin: 20px;
  padding: 10px 20px;
  text-align: center;
}
.display > div {
  margin: 5px;
}
.index,
.time {
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  width: 100px;
}